.modal {
    background: white;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 10;
    transition: opacity 300ms;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-around;
}

#back-button {
    background: rgb(233, 233, 233);
    position: absolute;
    height: 35px;
    width: 35px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 15px;
    border-radius: 100%;
    margin: 0;
}

#back-button > i {
    margin: 0
}